# SPDX-FileCopyrightText: 2016-2025 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

.php-cs-fixer.cache
.phpunit.result.cache
/tests/.phpunit.cache

/node_modules/
/js/
/build/
